---
import ErrorLayout from "@/layouts/ErrorLayout.astro";
import { Section, Container, HeadingText, BodyText } from "@/components/static";
---

<ErrorLayout>
  <Section>
    <Container>
      <HeadingText tag="h1">404</HeadingText>
      <BodyText>Page not found</BodyText>
    </Container>
  </Section>
</ErrorLayout>
