---
import Layout from "@/layouts/MainLayout.astro";
import { HeadingText, BodyText, Section, Container } from "@/components/static";

const title = "Elistack";
---

<Layout>
  <Section>
    <Container>
      <HeadingText tag="h1">{title}</HeadingText>
      <BodyText> A minimal Astro starter for building websites. </BodyText>
    </Container>
  </Section>
</Layout>
