---
import Layout from "@/layouts/MainLayout.astro";
import { Heading, Section, Container } from "@/components/static";

const title = "Illusion Radiance 1860";
---

<Layout>
  <Section>
    <Container>
      <Heading tag="h1">{title}</Heading>
    </Container>
  </Section>
</Layout>
