---
import { ClientRouter, fade } from "astro:transitions";
import { SEO } from "@/components/utilities";
import "@/styles/frontend.css";
---

<!doctype html>
<html lang="en" class="smooth-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title="Elistack"
      description="A minimal Astro starter for building websites."
      keywords={["astro", "astro starter", "astro template"]}
      ogImage="/og-image.png"
    />
    <ClientRouter />
  </head>
  <body class="flex min-h-screen flex-col font-inter-variable antialiased">
    <main transition:animate={fade({ duration: "0.15s" })}>
      <slot />
    </main>
  </body>
</html>
